<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>div {
        background-color:lightblue;
    }</style>
</head>
<h1>Error!</h1>
<p class="errorPage">
    <br />
<p>Something went wrong!</p>
    <p>
        There seems to be a problem with the page you requested
        (
        <span th:text="${url}"></span>
        ).
    </p>
    <!--
    <p th:text="${'Details: ' + exception}" ></p>
    -->
</div>
</html>