<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Geomaps</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container">

    <h1>Result</h1>

    <p th:text="'Search Results For: ' + ${searchInput.query}"></p>

    <table>
        <thead>
        <tr>
            <th th:text="'Name'">Name</th>
            <th th:text="'Country Name'">Country Name</th>
            <th th:text="'Latitude'">Latitude</th>
            <th th:text="'Longitude'">Longitude</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="geoname: ${searchResult.geonames}">
            <td th:text="${geoname.name}">Ankara</td>
            <td th:text="${geoname.countryName}">Turkey</td>
            <td th:text="${geoname.lat}">3.12</td>
            <td th:text="${geoname.lng}">5.15</td>
        </tr>
        </tbody>
    </table>

    <a href="/">Submit another Search</a>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>