<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Geomaps</title>
</head>

<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Geomaps</h1>
        <h2>
            <span th:text="'Welcome'"></span>
        </h2>
    </div>

    <form action="#" th:action="@{/search}" th:object="${searchQueryDto}" method="post">
        <p>
            Name: <input type="text" th:field="*{q}">
            <span th:if="${#fields.hasErrors('q')}" th:errors="*{q}">Name Error</span>
        </p>

        <button id="more-options-button" type="button">More options</button>
        <div id="more-options-div" style="display: none;">

            <label>Language</label>
            <select th:field="*{lang}">

                <option th:each="language : ${languages}"
                        th:value="${language}"
                        th:text="${language}"/>
            </select>

        </div>

        <p>
            <input type="submit" value="Submit"/> <input type="reset" value="Reset">
        </p>
    </form>

</main>

</body>

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/geoserver.js}"></script>
</html>